fastapi
uvicorn[standard]
pydantic
joblib
sqlalchemy
pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
shap
matplotlib
seaborn
missingno
plotly
python-multipart
python-dotenv
pymysql
cryptography
fpdf2